@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant light (&:where(.light, .light *));

@theme static {
	--font-forum: "Forum", sans-serif;

	--font-sans: "Public Sans", sans-serif;

	--color-primary: #99252e;
	--color-gold: #e0b17e;

	--animate-entrance: entrance 2.5s ease-in-out forwards;
	@keyframes entrance {
		0% {
			transform: scale(1.8);
		}
		70% {
			transform: scale(1);
		}
		100% {
			transform: scale(5);
		}
	}
}
