@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant light (&:where(.light, .light *));

@theme static {
  --font-forum: "Forum", sans-serif;
  --font-berkshire: "Berkshire Swash", cursive;
  --font-libre: "Libre Baskerville", serif;

  --font-sans: "Public Sans", sans-serif;

  --color-ethnic-primary: #603c2d;
  --color-ethnic-secondary: #e15e4d;

  --color-primary: #99252e;
  --color-gold: #e0b17e;

  --animate-entrance: entrance 2.5s ease-in-out forwards;
  @keyframes entrance {
    0% {
      transform: scale(1.8);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(5);
    }
  }
}
